
     <body class="login-bg">

    <!-- header css -->
    <header class="header-main">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-3 col-sm-12 col-12">
                    <div class="header-logo d-flex" style="align-items:center">
                        <a href="index.html"><img src="assets/images/logo_footer.png" alt=""></a> <p style="margin-bottom:0px;padding-left:25px;color:white"> - keep investing</p>
                    </div>
                </div>
                <div class="col-xl-8 col-lg-8 col-md-9 col-sm-12 col-12">
                    <div class="header-navbar-menu clearfix">
                        <nav class="navbar navbar-expand-lg navbar-light">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <i class="fas fa-bars"></i>
                            </button>
                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                    <li class="nav-item menu-menu-parent" tab-index="0">
                                        <a class="nav-link active" href="index.html">Home</a>
                                    </li>
                                    <!-- <li class="nav-item mega-menu-dropdown">
                                        <a class="nav-link" href="javascript:void(0);">Pages <i class="fas fa-caret-down"></i></a>
                                        <div class="nav-dropdown-box">
                                            <ul class="nav-dropdown-menu">
                                                <li><a href="terms-service.html">Terms of Service</a></li>
                                                <li><a href="privacy.html">Privacy Policy</a></li>
                                                <li><a href="maintainence.html">Maintainence</a></li>
                                                <li><a href="404.html">Error 404</a></li>
                                            </ul>
                                        </div>
                                    </li>
                                    <li class="nav-item mega-menu-dropdown">
                                        <a class="nav-link" href="pricing">Pricing</a>
                                    </li>
                                    <li class="nav-item mega-menu-dropdown">
                                        <a class="nav-link" href="faq">FAQ</a>
                                    </li>
                                    <li class="nav-item mega-menu-dropdown">
                                        <a class="nav-link" href="contact">Contact</a>
                                    </li> -->
                                </ul>
                            </div>
                        </nav>
                        <div class="header-pricing-btn">
                            <a class="theme-btn" href="/login">Sign In</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </header>
      <!-- header css -->
      <!-- slider area -->
      <section class="slider-area">
        <div class="slider-inner">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="slider-box-area">
                            <div class="slider-header text-center">
                                <h1>Cloudcurrency Miner</h1>
                                <p>The right cloud Miner for you to win as you want cloudcurrencies. Let's become part of the cloud network.</p>
                                <div class="create-wallet-box">
                                   <form>
                                      <div class="create-wallet-input">
                                         <div class="theme-input-box">
                                            <input type="text" name="" value="Mithila" class="theme-input">
                                            <button class="theme-btn">Create your worker</button>
                                         </div>
                                      </div>
                                   </form>
                                   </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- slider area -->
      <!-- slider images area -->
      <section class="slider-images">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="slider-box-img">
                        <img src="assets/images/site-images/dashboard.png" alt="">
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- slider images area -->
      <!-- our mission area -->
      <section class="our-mission-area page-paddings">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="our-mission-images text-center">
                        <img src="assets/images/site-images/our-mission.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="our-mission-content">
                        <div class="section-heading">
                            <h5>Our Mission</h5>
                            <h2>Cloud Mining Awesome Service Just For You!</h2>
                        </div>
                        <p class="theme-description">Our foremost mission is to provide everyone a safe and best cloudcurrency miner to mine and win cloudcurrencies and even send them without any issue. Our Miner also makes the user also get a perfect looking UI to make it more unique for their eyes.</p>
                        <p class="theme-description">As everyone who is using a digital wallet main question is security, we have kept that in mind to make our platform safer than any other platform.</p>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- our mission area -->
      <!-- our services area -->
      <section class="our-services-area page-paddings">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="our-services-description">
                        <div class="section-heading">
                            <h5>Our Services</h5>
                            <h2>Now Have Safe Cloud Mining.</h2>
                        </div>
                        <p class="theme-description">Azed Cloud provides you safe and best cloud mining service now you can send cloudcurrencies to anyone directly to their wallet without any hassle. We make sure to keep all transactions secure and untraceable. Our Miner accepts all major cloudcurrencies at a very low transaction fee, now you can be a part of the cloud network mining.</p>
                        <div class="our-mission-btn">
                            <button class="theme-btn">Create Worker</button>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                    <div class="our-services-images">
                        <img src="assets/images/site-images/our-services.png" alt="">
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- our services area -->
      <!-- trending area -->
      <section class="trending-hot-area page-paddings">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-heading center-heading text-center">
                        <h5>Trending Hot</h5>
                        <h2>Get Started with Cloudcurrency Mining</h2>
                        <p class="theme-description">Let's start understanding how to create, and use our cloudcurrency worker for mining and win new cloudcurrencies coins.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="trending-box text-center" style="background-color: rgb(240 139 22 / 8%);">
                        <div class="trending-ico">
                            <span class="theme-icons create-icon"></span>
                        </div>
                        <div class="trending-content">
                            <h3 class="theme-title">Create Worker</h3>
                            <p class="theme-description">Sign up for a new account, do now you can set the capacity to your miner.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="trending-box text-center" style="background-color: rgb(98 126 234 / 8%);">
                        <div class="trending-ico">
                            <span class="theme-icons get-bitcoin-icon"></span>
                        </div>
                        <div class="trending-content">
                            <h3 class="theme-title">How to get your BitCoins ?</h3>
                            <p class="theme-description">To receive your Bitcoins, you need to share your bitcoin wallet address, so that you can get your bitcoin directly on it.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="trending-box text-center" style="background-color: rgb(141 195 81 / 8%);">
                        <div class="trending-ico">
                            <span class="theme-icons use-wallet-icon"></span>
                        </div>
                        <div class="trending-content">
                            <h3 class="theme-title">How to Use Worker ?</h3>
                            <p class="theme-description">To start send us the amount required then enter address of receiver same for receiving you need to share your address.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- trending area -->
      <!-- best wallet area -->
      <section class="best-wallet-area page-background">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="best-wallet-images text-center">
                        <img src="assets/images/site-images/best-wallet.png" alt="">
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-6 col-12">
                    <div class="best-wallet-content">
                        <div class="section-heading">
                            <h5>Our Services</h5>
                            <h2>Stay updated, Now Get Have Cloudcurrency miner In Your Phone</h2>
                        </div>
                        <p class="theme-description">Now have a cloud miner in your mobile phone with our latest mobile application for android and iPhone you can get all of the mining services right in your palm. Anytime, anywhere monitor and withdraw your earning.</p>
                        <h4>Connect to our free apps now</h4>
                        <div class="mobile-app-box">
                            <a href=""><img src="assets/images/site-images/app-store.png"></a>
                            <a href=""><img src="assets/images/site-images/gplay.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- best wallet area -->
      <!-- best services area -->
      <section class="best-services-area page-paddings">
        <div class="shape-img-one"><img src="assets/images/site-images/best-services-bg.png"></div>
        <div class="shape-img-two"><img src="assets/images/site-images/best-services-bg2.png"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-heading center-heading text-center">
                        <!-- <h5>All these services for you</h5> -->
                        <h2>What You Get With Our Miner</h2>
                        <p class="theme-description">Helping people to have the right cloudcurrency miner to mining new cloud transaction to anyone and many more services related to that with great customer experience.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="best-services-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons digital-money"></span>
                        </div>
                        <div class="best-services-content">
                            <h3 class="theme-title">Digital Mining</h3>
                            <p class="theme-description">Mine all major cloudcurrencies available through our cloud miner.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="best-services-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons bitcoin-wallet"></span>
                        </div>
                        <div class="best-services-content">
                            <h3 class="theme-title">AI</h3>
                            <p class="theme-description">Our AI tract the best invest in the blockchain and cloudcurrencies market, which is the best cloud to mine and defines a high rentability to give you the best return</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="best-services-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons crypto-currency"></span>
                        </div>
                        <div class="best-services-content">
                            <h3 class="theme-title">Real world investment</h3>
                            <p class="theme-description">We invest a little in the real world to secure more your investment.</p>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-12">
                    <div class="best-services-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons secure-transactions"></span>
                        </div>
                        <div class="best-services-content">
                            <h3 class="theme-title">Social &amp; Ecology investment</h3>
                            <p class="theme-description">We invest a little in the social &amp; ecology economy to improve your impact</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- best services area -->
      <!-- work area -->
      <section class="how-it-work-area page-paddings" style="padding-top: 0px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                    <div class="section-heading center-heading text-center">
                        <h5>Its Easy &amp; Secure</h5>
                        <h2>How it Works?</h2>
                        <p class="theme-description">The cloudcurrency worker lets you paying with all major cloudcurrencies. When we receive the amount we create for you a worker if not exists, else we upgrade its capacity. More you have hashrate more you will win on the end of the month</p>
                    </div>
                </div>
            </div>
            <div class="how-it-work-main-box">
                <div class="row">
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="how-it-work-box text-center">
                            <div class="how-it-work-ico" style="background-color: rgb(240 139 22);">
                                <img src="assets/images/site-images/icon1.png" alt="">
                            </div>
                            <h3 class="theme-title">Register Account</h3>
                            <p class="theme-description">It's simple just enter your email ID and verify your account. Within minutes, you are registered and ready to use your worker.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="how-it-work-box text-center">
                            <div class="how-it-work-ico" style="background-color: rgb(98 126 234);">
                                <img src="assets/images/site-images/icon2.png" alt="">
                            </div>
                            <h3 class="theme-title">Deposit as you like</h3>
                            <p class="theme-description">You can even deposit money in any cloud currency you want to and use it the way to create a worker else to upgrade his capacity.</p>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                        <div class="how-it-work-box text-center">
                            <div class="how-it-work-ico" style="background-color: rgb(141 195 81);">
                                <img src="assets/images/site-images/icon3.png" alt="">
                            </div>
                            <h3 class="theme-title">Withdraw Profit</h3>
                            <p class="theme-description">Now you can withdraw the profit you made from mining, or you receive a payment hourly from our system.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- work area -->
      <!-- counter area -->
      <section class="counter-area page-background" style="padding-top: 30px;">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="counter-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons create-icon"></span>
                        </div>
                        <div class="counter-title">
                            <h2>100</h2>
                            <h3 class="theme-title">#100 Digital Workers</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="counter-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons secure-transactions"></span>
                        </div>
                        <div class="counter-title">
                            <h2>150K</h2>
                            <h3 class="theme-title">Transactions</h3>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 col-12">
                    <div class="counter-box text-center">
                        <div class="trending-ico">
                            <span class="theme-icons bitcoin-wallet"></span>
                        </div>
                        <div class="counter-title" style="border: 0px;">
                            <h2>50</h2>
                            <h3 class="theme-title">Wallets</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </section>
      <!-- counter area -->
          <!-- footer area -->
          <footer class="footer-main">
             <div class="footer-top page-paddings">
                <div class="container">
                   <div class="row">
                      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                         <div class="footer-top-box">
                            <div class="footer-newsletter">
                                <div class="footer-logo text-center">
                                    <a href="index.html"><img src="assets/images/logo_header.png" alt=""></a>
                                    <p class="theme-description" style="margin-bottom: 15px;">keep investing </p>
                                    <p class="theme-description" style="margin-bottom: 15px;">Keep an eye on the crypto world, get our expert advice </p>
                                </div>
                               <form>
                                  <div class="theme-input-box">
                                     <input type="email" name="" value="" placeholder="Your email address" class="theme-input">
                                     <button class="theme-btn">Subscribe</button>
                                  </div>
                               </form>
                               <div class="footer-social text-center">
                                  <ul>
                                     <li><a class="facebook" href=""><i class="fab fa-facebook-f"></i></a></li>
                                     <li><a class="linkedin" href=""><i class="fab fa-linkedin-in"></i></a></li>
                                     <li><a class="twitter" href=""><i class="fab fa-twitter"></i></a></li>
                                     <li><a class="pinterest" href=""><i class="fab fa-pinterest-p"></i></a></li>
                                  </ul>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="footer-copyright">
                <div class="container">
                   <div class="row">
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                         <div class="footer-bottom-left">
                            <p>© 2021 AZED CONSULTING, All Rights Reserved</p>
                         </div>
                      </div>
                      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
                         <div class="footer-bottom-right clearfix">
                            <ul>
                               <li><a href="privacy.html">Privacy Policy</a></li>
                               <li><a href="terms-service.html">Terms &amp; Conditions</a></li>
                            </ul>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </footer>
          <!-- footer area -->
          <!-- page up area -->
          <a id="page-up" class="page-up-box"><i class="fas fa-arrow-alt-circle-up"></i></a>
          <!-- page up area -->
          <!-- switch-button -->
          <div class="switch-button"><i class="fas fa-cog fa-spin"></i></div>
          <div class="switched-styles">
             <h4>Color Switcher</h4>
             <ul class="list-unstyled">
                 <li class="theme-default" data-color="dark-blue"></li>
                 <li class="light-sea-green" data-color="light-sea-green"></li>
                 <li class="theme-dark-green" data-color="dark-green"></li>
                 <li class="theme-light-blue" data-color="light-blue"></li>
                 <li class="theme-dark-orchid" data-color="dark-orchid"></li>
                 <li class="theme-yellow" data-color="yellow"></li>
             </ul>
             <div class="switched-mode">
                <h4>Layout Mode</h4>
                <ul class="clearfix">
                   <li><a class="active" id="light_mode" href="javascript:void(0);">Light</a></li>
                   <li><a id="dark_mode" href="javascript:void(0);">Dark</a></li>
                </ul>
             </div>
             <div class="hide-button">×</div>
          </div>
         <!-- switch-button -->
         <!-- Preloader area -->
          <!-- <div id="loader-wrapper">
             <div id="loader"></div>
             <div class="loader-images"><img src="assets/images/loader.gif" alt="Loader"></div>
          </div> -->
          <!-- Preloader area -->
          <!-- footer area -->
          <script src="/js/jquery.min.js"></script>
          <script src="/js/popper.min.js"></script>
          <script src="/js/bootstrap.min.js"></script>
          <script src="/js/owl.carousel.min.js"></script>
          <script type="text/javascript" src="/js/jquery.cookie.min.js"></script>
          <script src="/js/site-custom.js"></script>
          <!-- footer area -->
</body> 
      